name: platform_adaptive_ui
description: A Flutter package for adaptive UI that automatically switches between Material and Cupertino widgets based on platform.
version: 1.0.0
homepage: https://github.com/GGFlutterdev/adaptive_ui_package
repository: https://github.com/GGFlutterdev/adaptive_ui_package
issue_tracker: https://github.com/GGFlutterdev/adaptive_ui_package/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
